{{ form_start(masterKeywordForm, {'attr': {'id': 'add-master-keyword-form', 'class': 'form-inline'} }) }}

<div id="add-master-keyword-group" class="input-group">
  {{ form_widget(masterKeywordForm.name, {'attr': {'id': 'add-master-keyword-text', 'class': 'form-control', 'placeholder': 'room'} }) }}
  <span class="input-group-btn">
    {{ form_widget(masterKeywordForm.save, {'attr': {'id': 'add-master-keyword-save', 'class': 'btn btn-primary'} }) }}
  </span>
</div>

{{ form_end(masterKeywordForm) }}