{{ form_start(csvForm, {'attr': {'id': 'add-review-csv-form'} }) }}
  <div class="row">
    <p>... or upload a CSV with a lot of them.</p>
    {{ form_widget(csvForm.csv, {'attr': {'class': 'form-control', 'accept': '.csv, text/plain'} }) }}
  </div>
  <div class="row">
    <ul class="list-inline pull-right">
      <li>{{ form_widget(csvForm.send, { 'attr': {'class': 'btn btn-primary add-button', 'type': 'button'} }) }}</li>
    </ul>
  </div>
{{ form_end(csvForm) }}