{% extends "base.html.twig" %}

{% block title %}Add Review{% endblock %}
{% block section %}Add Review{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">

      <h1>Add reviews</h1>

      <div class="col-sm-9 col-md-5">

        {{ form_start(reviewForm, {'attr': {'id': 'add-review-form', 'name': 'reviewForm'} }) }}

          <div class="row">
            <p>Insert a new review...</p>
            {{ form_widget(reviewForm.text, {'attr': {'id': 'add-review-textarea', 'class': 'form-control', 'rows': 1} }) }}
          </div>

          <div class="row">
            <ul class="list-inline pull-right">
              <li>{{ form_widget(reviewForm.save, { 'attr': {'class': 'btn btn-primary add-button', 'type': 'button'} }) }}</li>
            </ul>
          </div>

        {{ form_end(reviewForm) }}

      </div>

      <div class="col-sm-offset-1 col-md-offset-1 col-sm-9 col-md-5">

        {{ render(controller('AppBundle:Review:addReviewCsv')) }}

      </div>

    </div>

    <div class="row">
      <h3>Added reviews</h3>
      <table id="keywordTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Adjectives found</th>
            <th>Total score</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
  <script src="{{ asset('js/addReview.js') }}"></script>
{% endblock %}