{% extends "base.html.twig" %}

{% block title %}Add Adjective{% endblock %}
{% block section %}Add Adjective{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <section>
    <div class="wizard">
      <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
              <span class="round-tab">
                <i class="glyphicon glyphicon-plus"></i>
              </span>
            </a>
          </li>
          <li role="presentation" class="disabled">
            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
              <span class="round-tab">
                <i class="glyphicon glyphicon-pencil"></i>
              </span>
            </a>
          </li>
          <li role="presentation" class="disabled">
            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
              <span class="round-tab">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

        {{ form_start(adjectiveForm, {'attr': {'id': 'add-adjective-form'} }) }}

        <div class="tab-content">

          <div class="tab-pane active" role="tabpanel" id="step1">
            <div class="row">
              <h3>Adjective</h3>
              <div class="col-sm-9 col-md-5">
                <p>Insert new adjective name.</p>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">New Adjective</span>
                  {{ form_widget(adjectiveForm.name, {'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
            </div>
            <div class="row">
              <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-primary next-step add-button">Save and continue</button></li>
              </ul>
            </div>
          </div>

          <div class="tab-pane" role="tabpanel" id="step2">
            <div class="row">
              <h3>Type</h3>
              <div class="col-sm-9 col-md-5">
                <p>Select the new adjective type.</p>
                  {{ form_widget(adjectiveForm.adjectiveType, {'attr': {'class': 'form-control'} }) }}
              </div>
              <div class="col-sm-9 col-md-5">
                <p>Insert adjective score.</p>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Score</span>
                  {{ form_widget(adjectiveForm.score, {'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
            </div>
            <div class="row">
              <ul class="list-inline pull-right">
                <li>{{ form_widget(adjectiveForm.save, { 'attr': {'class': 'btn btn-primary next-step add-button', 'type': 'button'} }) }}</li>
              </ul>
            </div>
          </div>

          <div class="tab-pane" role="tabpanel" id="complete">
            <h3>Finished!</h3>
            <p>You have inserted a new adjective!</p>
          </div>
          <div class="clearfix"></div>
          {{ form_end(adjectiveForm) }}

        </div>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('js/formularyBehaviour.js') }}"></script>
{% endblock %}