{% extends "base.html.twig" %}

{% block title %}Add Keyword-Adjective{% endblock %}
{% block section %}Add Keyword-Adjective{% endblock %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {{ form_start(form, {'attr': {'id': 'add-keyword-adjective-form'} }) }}
    <div class="row">
      <h1>Add keyword-adjective relationship</h1>
      <div class="col-sm-9 col-md-5">
        <p>Select master keyword.</p>
        {{ form_widget(form.masterKeyword, {'attr': {'class': 'form-control'} }) }}
      </div>
      <div class="col-sm-9 col-md-5">
        <p>Select adjective.</p>
        {{ form_widget(form.adjective, {'attr': {'class': 'form-control'} }) }}
      </div>
    </div>
    <div class="row ">
      <ul class="list-inline pull-right">
        <li>{{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary next-step', 'type': 'button'} }) }}</li>
      </ul>
    </div>
    {{ form_end(form) }}

    <div class="row">
      <h3>Added keyword-adjective relationships</h3>
      <table id="keywordAdjectiveTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Master keyword</th>
            <th>Adjective</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="{{ asset('js/addKeywordAdjective.js') }}"></script>
{% endblock %}