{% extends "base.html.twig" %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table id="table">
      <thead>
        <tr>
          {% block tableHead %}
          {% endblock %}
        </tr>
      </thead>
      <tbody>
        {% block tableBody %}
        {% endblock %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
  <script src="{{ asset('js/management.js') }}"></script>
{% endblock %}