<!DOCTYPE html>
<html lang="en">

{% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An hotel review analyzer.">

    <title>{% block title %}{% endblock %} | Review analyzer</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/paper/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
  </head>
  {% endblock %}

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Review analyzer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a>Alberto Muñoz</a></li>
            <li><img class="media-object dp img-circle" src="https://pbs.twimg.com/profile_images/647104452835549184/x3i2UBjm_400x400.jpg" style="width: 60px;height:60px;"></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a class="disabled">Reviews</a></li>
            <li><a href="/addReview">Add Review</a></li>
            <li><a href="/manageReviews">Review management</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a class="disabled">Keywords</a></li>
            <li><a href="/addKeyword">Add Keyword</a></li>
            <li><a href="/manageKeywords">Keyword management</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a class="disabled">Adjectives</a></li>
            <li><a href="/addAdjective">Add adjective</a></li>
            <li><a href="/manageAdjectives">Adjective management</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a class="disabled">Keyword-Adjective Relationships</a></li>
            <li><a href="/addKeywordAdjective">Add keyword-adjective relationship</a></li>
            <li><a href="/manageKeywordAdjectives">Keyword-Adjective management</a></li>
          </ul>
        </div>

      {% block content %}
      {% endblock %}

      </div>
    </div>

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% endblock %}

  </body>
</html>
