{% extends "base_management.html.twig" %}

{% block title %}Manage Keywords{% endblock %}
{% block section %}Manage Keywords{% endblock %}

{% block tableHead %}
  <th>ID</th>
  <th>Keyword</th>
  <th>Master keyword</th>
  <th>Delete</th>
{% endblock %}

{% block tableBody %}
  {% for keyword in keywords %}
    <tr>
      <td>{{ keyword.getId }}</td>
      <td>{{ keyword.getName }}</td>
      <td>{{ keyword.getMasterKeyword.getName }}</td>
      <td>
        <button type="button" id="{{ keyword.getId }}" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script>addRemoveEvents('deleteKeyword');</script>
{% endblock %}