{% extends "base_management.html.twig" %}

{% block title %}Manage Reviews{% endblock %}
{% block section %}Manage Reviews{% endblock %}

{% block tableHead %}
  <th>ID</th>
  <th>Text</th>
  <th>Adjectives found</th>
  <th>Total score</th>
  <th>Delete</th>
{% endblock %}

{% block tableBody %}
  {% for review in reviews %}
    <tr>
      <td>{{ review.getId }}</td>
      <td>{{ review.getText }}</td>
      <td>
        {% for reviewDetails in review.getReviewDetails %}
          {{ reviewDetails.getKeywordAdjective.getMasterKeyword.getName }} -> {{ reviewDetails.getKeywordAdjective.getAdjective.getName }} [{{ reviewDetails.getKeywordAdjective.getAdjective.getScore }}],
        {% endfor %}
      </td>
      <td>{{ review.getScore }}</td>
      <td>
        <button type="button" id="{{ review.getId }}" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script>addRemoveEvents('deleteReview');</script>
{% endblock %}