{% extends "base_management.html.twig" %}

{% block title %}Manage Adjectives{% endblock %}
{% block section %}Manage Adjectives{% endblock %}

{% block tableHead %}
  <th>ID</th>
  <th>Adjective</th>
  <th>Adjective Type</th>
  <th>Delete</th>
{% endblock %}

{% block tableBody %}
  {% for adjective in adjectives %}
    <tr>
      <td>{{ adjective.getId }}</td>
      <td>{{ adjective.getName }}</td>
      <td>{{ adjective.getAdjectiveType.getType }}</td>
      <td>
      <button type="button" id="{{ adjective.getId }}" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script>addRemoveEvents('deleteAdjective');</script>
{% endblock %}