{% extends "base_management.html.twig" %}

{% block title %}Manage KeywordAdjectives{% endblock %}
{% block section %}Manage KeywordAdjectives{% endblock %}

{% block tableHead %}
  <th>ID</th>
  <th>Master keyword</th>
  <th>Adjective</th>
  <th>Delete</th>
{% endblock %}

{% block tableBody %}
  {% for keywordAdjective in keywordAdjectives %}
    <tr>
      <td>{{ keywordAdjective.getId }}</td>
      <td>{{ keywordAdjective.masterKeyword.getName }}</td>
      <td>{{ keywordAdjective.adjective.getName }}</td>
      <td>
        <button type="button" id="{{ keywordAdjective.getId }}" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script>addRemoveEvents('deleteKeywordAdjective');</script>
{% endblock %}